body {
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration:none;
}

#landingPageOuterBox {
  display: flex;
}

#landingPageInnerBox1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  background-image: linear-gradient(#606B9B, #B191D4);
  box-shadow: 20px 0 100px 10px #888;
}

#landingPageInnerBox2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}

.landingPageTitle1 {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 60pt;
  color: white;
  margin-bottom: 1vh;
}

#landingPageTitle2 {
  font-family: 'Open+Sans', sans-serif;
  font-weight: 300;
  font-size: 28pt;
  color: #70C7A9;
  margin-top: 4vh;
}

#googleIcon {
  width: 90px;
  height: 70px;
  margin-left: 5px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#loginButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  outline: none;
  border: none;
  font-family: helvetica;
  font-size: 25pt;
  color: white;
  background-color: #70C7A9;
  width: 420px;
  height: 90px;
}

@media only screen and (max-width: 999px) {

  /* Landing Page */

  #landingPageOuterBox {
    display: block;
  }

  #landingPageInnerBox1 {
    width: 100%;
    height: 65vh;
  }

  #landingPageInnerBox2{
    width: 100%;
    height: 35vh;
  }

  .landingPageTitle1 {
    font-size: 65pt;
  }

  #landingPageTitle2 {
    font-size: 30pt;
  }
}

@media only screen and (max-width: 549px) {

  /* Landing Page */

  .landingPageTitle1 {
    font-size: 45pt;
  }

  #landingPageTitle2 {
    font-size: 22pt;
  }

  #loginButton {
    font-size: 20pt;
    width: 370px;
  }
}
